.login-panel-banner {
    -fx-alignment: center;
    -fx-background-color: rgb(100, 57, 255);
    -fx-spacing: 10px;
}

.login-panel-banner-title {
    -fx-fill: white;

}

.login-panel-widget {
    -fx-alignment: center;
}

.login-panel-widget-title {
    -fx-text-fill: rgb(100, 57, 255);
    -fx-font-weight: bold;
}

.login-panel-widget-label {
    -fx-font-weight: bold;
}

.login-panel-widget-checkbox {
    -fx-alignment: center-right;
}

.login-panel-widget-error-message {
    -fx-text-fill: rgb(255, 0, 0);
    -fx-font-weight: bold;
}

.login-panel-widget-button {
    -fx-background-color: rgb(100, 57, 255);
    -fx-text-color: rgb(255, 255, 255);
}

