.menu-bar-container {
   -fx-background-color: RGB(70, 130, 180);
}

.menu-bar-topbar {
   -fx-background-color: RGB(70, 130, 180);
}

.menu-bar-parent {
   -fx-background-color: RGB(70, 130, 180);
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-font-size: 24px;

   -fx-background-radius: 0;
   -fx-alignment: center-left;
}

.menu-bar-child {
   -fx-background-color: RGB(70, 130, 180);
   -fx-text-fill: white;
   -fx-font-weight: normal;
   -fx-font-size: 16px;

   -fx-background-radius: 0;
   -fx-alignment: center-left;
   -fx-padding: 0 0 0 20px;
}