.menu-bar-container {
   -fx-background-color: rgb(100, 57, 255);
}

.menu-bar-topbar {
   -fx-background-color: rgb(66, 15, 250);
}

.menu-bar-parent {
   -fx-background-color: rgb(79, 117, 255);
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-font-size: 24px;

   -fx-background-radius: 0;
   -fx-alignment: center-left;
}

.menu-bar-child {
   -fx-background-color: rgb(107, 139, 255);
   -fx-text-fill: white;
   -fx-font-weight: normal;
   -fx-font-size: 16px;

   -fx-background-radius: 0;
   -fx-alignment: center-left;
   -fx-padding: 0 0 0 20px;
}