.box-reservation-form {
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
}

.box-reservation-form:hover {
    -fx-border-color: rgb(203, 96, 64);
    -fx-border-width: 3px;
}