.top-bar-container {
   -fx-background-color: RGB(92, 70, 180);
   -fx-alignment: center;
}

.top-bar-label {
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.top-bar-signout {
    -fx-font-weight: bold;
    -fx-background-radius: 30;
    -fx-background-color: RGB(70, 130, 180);
}